{% extends 'customer_base.html' %}
{% load static %}
{% block content %}


{% if requests %}
<div class="card shadow-sm border-0 m-2">
    <div class="card-body">
        <h5 class="mb-3 fw-semibold">My Requests</h5>

        <div class="table-responsive">
            <table class="table table-hover table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Company</th>
                        <th>Service Type</th>
                        <th>Technician</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for req in requests %}
                    <tr>
                        <td>{{ req.company.company_name }}</td>
                        <td>{{ req.service_type.name }}</td>
                        <td>
                            {% if req.technician %}
                                {{ req.technician.name }}
                            {% else %}
                                <span class="text-secondary">Not Assigned</span>
                            {% endif %}
                        </td>
                        <td>{{ req.preferred_date }}</td>
                        <td>
                            {% if req.status == 'payment_pending' %}
                            <form method="post" action="{% url 'invoice' req.id%}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-outline-success fw-semibold">
                                    Make Payment
                                </button>
                            </form>
                            {% elif req.status == 'paid' %}
                            <span class="badge bg-success">Paid</span>
                            {% elif req.status == 'requested' %}
                            <span class="badge bg-secondary">Requested</span>
                            {% elif req.status == 'assigned' %}
                            <span class="badge bg-primary">Assigned</span>
                            {% elif req.status == 'Proceeding' %}
                            <span class="badge bg-warning text-dark">Proceeding</span>
                            {% elif req.status == 'completed' %}
                            <span class="badge bg-info text-dark">Completed</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% else %}
<div class="alert alert-warning text-center shadow-sm my-2">
    No requests found yet.
</div>
{% endif %}
{% endblock %}