{% extends 'company_base.html' %}
{% block title %}Delete Service{% endblock %}

{% block content %}
<div class="container mt-4 w-50">
    <div class="card shadow rounded-4 p-4 text-center">
        <h5>Are you sure you want to delete <strong>{{ object.name }}</strong>?</h5>
        <form method="post">
            {% csrf_token %}
            <div class="mt-3">
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'service_view' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
