{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background: 
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
            url("{% static 'images/login.jpg' %}") center/cover no-repeat;
       
    }

    .login-card {
        min-height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        width: 25%;
        padding: 20px;
    }

   
     @media (max-width: 992px) {
        .card {
            width: 50%;
        }
    }

    @media (max-width: 576px) {
        .card {
            width: 90%;
            padding: 15px;
        }
    }

</style>
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(18, 0, 0);">
    <div class="container">

        <a class="navbar-brand fw-bold d-flex align-items-center text-white" href="{% url 'home' %}">
            <img src="{% static 'images/logo.jpg' %}" class="rounded me-2" alt="Logo"
                 style="width: 45px; height: 45px;">
            ServiceConnect
        </a>

        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">

                <li class="nav-item mx-2">
                    <a class="nav-link text-white fw-semibold" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link text-white fw-semibold px-3" href="{% url 'add_customer' %}">Register</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link text-white fw-semibold px-3" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="btn btn-outline-light px-3" href="{% url 'add_company' %}">
                        Register Company
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>


<div class="login-card mt-4">
    <div class="card p-4 shadow-lg mb-4">
        <div class="text-center mb-4">
            <h3 class="fw-bold">Login</h3>
        </div>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username"
                    required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password"
                    required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}